.benefits {
  padding: 30px 60px;
}

.benefits-main-container {
  display: flex;
  gap: 60px;
}

.benefits-img-box {
  width: 70%;
  border-radius: 0 170px 0 0;
}

.benefits-img-box img {
  border-radius: 0 170px 0 0;
}

.benefits-content-box {
  padding-top: 70px;
}

.benefits-text-box {
  width: 60%;
}

.benefits-title {
  font-size: 40px;
  font-weight: 400;
}

.benefits-descs-box {
  padding-top: 80px;
}

.benefits-number-box {
  position: relative;
}

.benefits-number {
  font-size: 50px;
}

.benefits-desc-box {
  display: flex;
  gap: 30px;
  padding-top: 20px;
}

.benefits-shape {
  width: 50px;
  height: 45px;
  background-color: #fdc463;
  border-radius: 0 0 0 50px;
  position: absolute;
  top: 30px;
  left: -18px;
  z-index: -1;
}

.benefits-subtitle {
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 10px;
}
